
<div class="registration-header" >
<h3> Make a New Investment</h3>

<%= form_for @investment, url: investments_path do |f| %>
	<div class="investment-form">
		<div class = "row">
			<div class = "row">
		  	<div class="form-group col-md-5">
		    	<div class="registration-form" ><%= f.label :series_id %><br>
      			<%= f.collection_select(:series_id, Series.all, :id, :series_number) %> 
    			</div>
		  	</div>
		 </div>
			<div class = "form-group col-md-4"> 
				<div class="registration-form">
				<%= f.label :amount  %>
				<%= f.number_field :amount, :class => 'form-control borrow' %> 
			</div>
	 		</div>
	 		<div class = "inv_id">
				<%= f.hidden_field :investor_id, :value => current_investor.id %>
	 		</div>
		</div>
		<div class="form-group col-md-2	">
			 <div class= "button_row">
	    	<%= f.submit "submit", class:"register_button" %>
	    </div>
	  	</div>
	  		
	</div>
<% end %>
</div>

