<div class="blogs_contents">

<div class="col-md-12 ">

	<!--  POST CONTENT  -->
	<div class="post-content">
		<!--  DATE  -->

		<!--  FEATURED IMAGE  -->
		<div class="archive-content">

			<!--  POST TITLE -->
			<h2><a href="http://blog.prodigyfinance.com/2014/07/15/lasting-memories-from-said-business-school/">Lasting Memories from Saïd Business School…</a></h2>

			<!--  META -->
			<div class="post-meta">
				<div class="post-author four columns">
					Jerry Joseph Henry  </div>
					<div class="post-category eight columns">
						<a href="http://blog.prodigyfinance.com/category/student-investor-stories/" title="View all posts in Student &amp; Investor Stories">Student &amp; Investor Stories</a>  </div>
					</div>
					<p>In ancient Chinese Philosophy, the concept ‘Yin-Yang’ describes how seemingly opposing forces work together to create wonders.&nbsp; It takes a Sun and a Moon, a summer and winter, fire and water, Mars and a Venus to make life an enjoyable one.&nbsp;Like the philosophy of ‘Yin-Yang’, the life at Oxford makes one face seemingly different personalities, philosophies, doctrines, and yet all these differences are created with purpose…a purpose to serve humanity. &nbsp;And it is because of…</p>
					<a class="read-more" href="http://blog.prodigyfinance.com/2014/07/15/lasting-memories-from-said-business-school/">Continue Reading</a>
					<%= link_to image_tag('../assets/facebook_share_icon.gif'), 'http://www.facebook.com/sharer.php?u=http%3A%2F%2Fblog.prodigyfinance.com/2014/07/15/lasting-memories-from-said-business-school/', :target => :blank %>
				</div>
			</div>

			

			<!--  POST CONTENT  -->
			<div class="post-content">
				<!--  DATE  -->

				<!--  FEATURED IMAGE  -->
				<div class="archive-content">

					<!--  POST TITLE -->
					<h2><a href="http://blog.prodigyfinance.com/2014/07/10/are-mba-hopefuls-applying-to-more-business-schools/">Are MBA Hopefuls Applying to More Business Schools?</a></h2>

					<!--  META -->
					<div class="post-meta">
						<div class="post-author four columns">
							Katie Schenk  </div>
							<div class="post-category eight columns">
								<a href="http://blog.prodigyfinance.com/category/mba-tips-trends/" title="View all posts in MBA Tips &amp; Trends">MBA Tips &amp; Trends</a>  </div>
							</div>
							<p>Remember the good old days when MBA candidates were told to apply three universities?&nbsp; Probably not (unless you decided it wasn’t the time for you and you’re now considering an EMBA).&nbsp; For years, the accepted number of applications averaged around three schools.&nbsp; However, the media has hyped the increasing average number of applications.&nbsp; But, do the numbers reflect a rise? How Many Schools Should You Consider? Let’s be clear; there is no set formula for…</p>
							<a class="read-more" href="http://blog.prodigyfinance.com/2014/07/10/are-mba-hopefuls-applying-to-more-business-schools/">Continue Reading</a>
							<%= link_to image_tag('../assets/facebook_share_icon.gif'), 'http://www.facebook.com/sharer.php?u=http%3A%2F%2Fblog.prodigyfinance.com/2014/07/10/are-mba-hopefuls-applying-to-more-business-schools/', :target => :blank %>
						</div>
					</div>



					<!--  POST CONTENT  -->
					<div class="post-content">
						<!--  DATE  -->
						

						<!--  FEATURED IMAGE  -->
						<div class="archive-content">

							<!--  POST TITLE -->
							<h2><a href="http://blog.prodigyfinance.com/2014/07/08/8-mba-admission-myths-busted/">8 MBA Admission Myths Busted</a></h2>

							<!--  META -->
							<div class="post-meta">
								<div class="post-author four columns">
									Guest Blogger  </div>
									<div class="post-category eight columns">
										<a href="http://blog.prodigyfinance.com/category/mba-tips-trends/" title="View all posts in MBA Tips &amp; Trends">MBA Tips &amp; Trends</a>  </div>
									</div>
									<p>Are you a prospective MBA trying to distinguish the good advice from the bad when it comes to your applications? Sure, there are plenty of resources available to you – but how do you know what’s real and what’s not? This is a good starting point – here are 8 MBA admissions myths you ought to watch out for: &nbsp; Myth#1:&nbsp;School selection: ”Harvard specializes in general management”, “Wharton, Columbia and Booth are finance schools”, “Kellogg…</p>
									<a class="read-more" href="http://blog.prodigyfinance.com/2014/07/08/8-mba-admission-myths-busted/">Continue Reading</a>
									<%= link_to image_tag('../assets/facebook_share_icon.gif'), 'http://www.facebook.com/sharer.php?u=http%3A%2F%2Fblog.prodigyfinance.com/2014/07/10/are-mba-hopefuls-applying-to-more-business-schools/', :target => :blank %>
								</div>
							</div>



							<!--  POST CONTENT  -->
							<div class="post-content">
								<!--  DATE  -->
								

								<!--  FEATURED IMAGE  -->
								<div class="archive-content">

									<!--  POST TITLE -->
									<h2><a href="http://blog.prodigyfinance.com/2014/07/04/3-tips-for-1st-year-mbas/">3 Tips for 1st year MBAs</a></h2>

									<!--  META -->
									<div class="post-meta">
										<div class="post-author four columns">
											Teodora Chatzisarros  </div>
											<div class="post-category eight columns">
												<a href="http://blog.prodigyfinance.com/category/student-investor-stories/" title="View all posts in Student &amp; Investor Stories">Student &amp; Investor Stories</a>  </div>
											</div>
											<p>Congratulations to all of you that are about to start your MBAs! I’m pretty sure you won’t regret making the decision to take this journey. Now that I just completed my first year, not that I’m an expert, but I can give you some hints to make the most of your MBA experience. 1. Career wise – Make up your mind before your start. It is true that the MBA is an opportunity for you…</p>
											<a class="read-more" href="http://blog.prodigyfinance.com/2014/07/04/3-tips-for-1st-year-mbas/">Continue Reading</a>
											<%= link_to image_tag('../assets/facebook_share_icon.gif'), 'http://www.facebook.com/sharer.php?u=http%3A%2F%2Fblog.prodigyfinance.com/2014/07/08/8-mba-admission-myths-busted/', :target => :blank %>
										</div>
									</div>



									<!--  POST CONTENT  -->
									<div class="post-content">
										<!--  DATE  -->
										

										<!--  FEATURED IMAGE  -->
										<div class="archive-content">

											<!--  POST TITLE -->
											<h2><a href="http://blog.prodigyfinance.com/2014/07/03/a-guide-to-financing-your-international-mba/">A guide to financing your international MBA</a></h2>

											<!--  META -->
											<div class="post-meta">
												<div class="post-author four columns">
													prodigyfinance  </div>
													<div class="post-category eight columns">
														<a href="http://blog.prodigyfinance.com/category/mba-tips-trends/" title="View all posts in MBA Tips &amp; Trends">MBA Tips &amp; Trends</a>  </div>
													</div>
													<p>A fully loaded Mercedes S Class. A summer home in Costa Rica. A modest personal aircraft. These are just a few of the things that could be purchased with the tuition required for a two year MBA degree. Clearly this is no small amount. Nonetheless, every year, students who decide the returns of a top level business school education outweigh the expense, must ask themselves the same question: where will the money come from? This…</p>
													<a class="read-more" href="http://blog.prodigyfinance.com/2014/07/03/a-guide-to-financing-your-international-mba/">Continue Reading</a> 
													<%= link_to image_tag('../assets/facebook_share_icon.gif'), 'http://www.facebook.com/sharer.php?u=http%3A%2F%2Fblog.prodigyfinance.com/2014/07/03/a-guide-to-financing-your-international-mba/', :target => :blank %>
												</div>
											</div>



											<!--  POST CONTENT  -->
											<div class="post-content">
												<!--  DATE  -->
												

												<!--  FEATURED IMAGE  -->


												<div class="featured-image" style="background-image: url(http://blog.prodigyfinance.com/wp-content/uploads/2014/06/Prodigy-Finance-How-Much-Time-for-B-School-Applications.jpg);">

												</div>
												<div class="archive-content">

													<!--  POST TITLE -->
													<h2><a href="http://blog.prodigyfinance.com/2014/06/30/b-school-applications-the-importance-of-starting-early/">B-School Applications: The Importance of Starting Early</a></h2>

													<!--  META -->
													<div class="post-meta">
														<div class="post-author four columns">
															Katie Schenk  </div>
															<div class="post-category eight columns">
																<a href="http://blog.prodigyfinance.com/category/mba-tips-trends/" title="View all posts in MBA Tips &amp; Trends">MBA Tips &amp; Trends</a>  </div>
															</div>
															<p>Getting into business school (any business school) takes time. And, if you want to attend a prestigious programme, it’ll take you even longer – as any successful applicant will tell you. So how much time should you plan to spend on your b-school applications? Probably more than you think.</p>
															<a class="read-more" href="http://blog.prodigyfinance.com/2014/06/30/b-school-applications-the-importance-of-starting-early/">Continue Reading</a>
															<%= link_to image_tag('../assets/facebook_share_icon.gif'), 'http://www.facebook.com/sharer.php?u=http%3A%2F%2Fblog.prodigyfinance.com/2014/06/30/b-school-applications-the-importance-of-starting-early/', :target => :blank %>
														</div>
													</div>



													<!--  POST CONTENT  -->
													<div class="post-content">
														<!--  DATE  -->
														

														<!--  FEATURED IMAGE  -->
														<div class="archive-content">

															<!--  POST TITLE -->
															<h2><a href="http://blog.prodigyfinance.com/2014/06/26/auld-lang-syne/">Auld Lang Syne</a></h2>

															<!--  META -->
															<div class="post-meta">
																<div class="post-author four columns">
																	Ruch de Silva  </div>
																	<div class="post-category eight columns">
																		<a href="http://blog.prodigyfinance.com/category/student-investor-stories/" title="View all posts in Student &amp; Investor Stories">Student &amp; Investor Stories</a>  </div>
																	</div>
																	<p>No its not the New Year, but I found out recently that Auld Lang Syne means “of times that have gone” and I thought it would be a fitting title to my tenth and final blog post here.. What an amazing 9 months and 3 weeks it has been! Just a week left now. Tomorrow we leave for our Graduation Trip in Hvar, Croatia where we will unite with our friends from the Fonty and…</p>
																	<a class="read-more" href="http://blog.prodigyfinance.com/2014/06/26/auld-lang-syne/">Continue Reading</a>
																	<%= link_to image_tag('../assets/facebook_share_icon.gif'), 'http://www.facebook.com/sharer.php?u=http%3A%2F%2Fblog.prodigyfinance.com/2014/06/26/auld-lang-syne/', :target => :blank %>
																</div>
															</div>



															<!--  POST CONTENT  -->
															<div class="post-content">
																<!--  DATE  -->
																

																<!--  FEATURED IMAGE  -->
																<div class="archive-content">

																	<!--  POST TITLE -->
																	<h2><a href="http://blog.prodigyfinance.com/2014/06/24/improving-financial-literacy-informed-borrowers-equal-a-stronger-portfolio/">Improving Financial Literacy: Informed borrowers equal a stronger portfolio</a></h2>

																	<!--  META -->
																	<div class="post-meta">
																		<div class="post-author four columns">
																			Trevor Watson  </div>
																			<div class="post-category eight columns">
																				<a href="http://blog.prodigyfinance.com/category/from-the-directors-desk/" title="View all posts in From the Directors' Desk">From the Directors' Desk</a>  </div>
																			</div>
																			<p>What is financial literacy and why is it important to Prodigy Finance? Simply stated, it is the ability to make a sound and informed decision regarding one’s financial resources. For our student borrowers, deciding to take a loan with us (or another institution) will be one of the more important decisions of their financial lives. Therefore we believe we have a duty and an obligation to help improve our borrowers’ financial acumen. An addition, and…</p>
																			<a class="read-more" href="http://blog.prodigyfinance.com/2014/06/24/improving-financial-literacy-informed-borrowers-equal-a-stronger-portfolio/">Continue Reading</a>
																			<%= link_to image_tag('../assets/facebook_share_icon.gif'), 'http://www.facebook.com/sharer.php?u=http%3A%2F%2Fblog.prodigyfinance.com/2014/06/24/improving-financial-literacy-informed-borrowers-equal-a-stronger-portfolio/', :target => :blank %>
																</div>
																		</div>
																	</div>




																					<!--  PAGINATION -->
											
																					</div>
																					</div>