<div class = "container full-page">
	<br></br>
	<div class="row">
		<div class="col-md-12">
			<h1> Network </h1>
		</div>
	</div>	
	<br></br>
	<!-- invite friends container -->
	<div class="invite_friends">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<h2 class = "invite">Invite friends through: </h2>
			</div>
			<div class="col-md-4"></div>
		</div>
		<br></br>
		<br></br>
		<div class="row">
			<!-- modal buttons -->
			<div class="col-md-2"></div>
			<div class="col-md-4">
				<!-- email button -->
				<button class="btn btn-primary share_btn email_btn" data-toggle="modal" data-target=".email">Email</button>
			</div>
			<div class="col-md-4">
				<!-- linkden button -->
				<button class="btn btn-primary share_btn linkedin_btn" data-toggle="modal" data-target=".linkedin">Linkedin</button>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>

	<br>
<div class="articles-section">
<div class="row">
	<div class="col-md-6"> 
	<h1 class = "articles"> Articles </h1>
	</div>
	<div class="col-md-6"></div>
</div>
	<div class="row"> 
	<div class="col-md-6">
		<h4 class = "filter">fliter by: </h4>
	</div>
	<div class="col-md-6"></div>
	</div>

<br><br>
	<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-3">

<button class = "btn" id="show-blog_content" > blog</button>
</div>
<div class="col-md-3">
<button class = "btn" id="press_btn">press</button>
</div>
<div class="col-md-3"></div>
</div>
</div>
</div>
	<br></br>

	<div id="press_content">
	<%= render 'press' %>

	</div>
	<div style ="display:none;" id="blog_content">
		<%= render 'blog' %>
	</div>

</div>

<%= content_for :script do %>
	<script>
		function addInput(divName, divEmail){
			var newdiv1 = document.createElement('div');
			var newdiv2 = document.createElement('div');
			newdiv1.innerHTML = "Recipient Name " +  " <br><input type='text' name='myInputs1[]'>";
			newdiv2.innerHTML = "Recipient Email " + " <br><input type='text' name='myInputs2[]'>";
			document.getElementById(divName).appendChild(newdiv1); 
			document.getElementById(divEmail).appendChild(newdiv2);
				// removal link
			var removalLink = document.createElement('a');
    removalLink.onclick = function(){
        this.parentNode.parentNode.removeChild(this.parentNode)
    }
    var removalText = document.createTextNode('Remove Field');
    removalLink.appendChild(removalText);
    newdiv1.appendChild(removalLink);

    	var removalLink = document.createElement('a');
    removalLink.onclick = function(){
        this.parentNode.parentNode.removeChild(this.parentNode)
    }
    var removalText = document.createTextNode('Remove Field');
    removalLink.appendChild(removalText);
    newdiv2.appendChild(removalLink);

 		}

		function addInputLinkedin(divName){
			var newdivL1 = document.createElement('div');
			newdivL1.innerHTML = "Recipient Name " + "<input type='text' name='myInputsL1[]'>";
			document.getElementById(divName).appendChild(newdivL1);
			// removal link
			var removalLink = document.createElement('a');
    removalLink.onclick = function(){
        this.parentNode.parentNode.removeChild(this.parentNode)
    }
    var removalText = document.createTextNode('Remove Field');
    removalLink.appendChild(removalText);
    newdivL1.appendChild(removalLink);
		}


		$(function () { 
			$("#myModal").modal({show: false});
			$("#myModal").modal({show: false});
		});



$(document).ready(function(){
  $("#blog_btn").click(function(){
    $("#press_content").hide();
    $("#blog_content").show();
  });
});
$(document).ready(function(){
  $("#press_btn").click(function(){
  	 $("#press_content").show();
    $("#blog_content").hide();
  });
 });

$('#show-blog_content').click(function(){
    $('#blog_content').show();
    $('#press_content').hide();
});

	</script>

	<%= render 'invite_modal' %>
	<%= render 'invite_linkedin_modal'  %>
<% end %>



