<div class = "container full-page">

	<br></br>

	<!-- Header -->
	
	<div class = "row">
		<div class="flash_messages">
			<% if flash[:success] %>
			<div class="success">
				<%= flash[:success] %>
			</div>
			<% end %>
			<% if flash[:error] %>
			<div class="error">
				<%= flash[:error] %>
			</div>
			<% end %>
		</div>
		<div class = "col-md-1"> </div>
		<div class = "col-md-11">
			<div class = "container welcome" style ="width: 100%">
				<h1> Welcome, <%= current_investor.first_name %></h1>
			</div>
		</div>
	</div>

	<!-- Tab header -->

	<div class = "row" style="margin-top: 1em">  
		<div class = "col-md-1">
		</div>
		<div class = "col-md-8 graph-charts">
			<div class = "row">
				<div class = "col-md-10">
					<ul id="tabExample " class="nav nav-tabs " role="tablist">
						<% current_investor.investments.each_with_index do |investment, i| %>
						<li role="presentation" class="<%= 'active' if i == 0 %> school-tabs">
							<a href="#<%= dom_id(investment) %>" role="tab" data-toggle="tab">
								<%= investment.school.try(:name) %>
							</a>
						</li>
						<% end %>
					</ul>
				</div>
			</div>
			

			<!-- Tab Content -->
			<div class = "row">
				<div class="tab-content graphs">
					<% current_investor.investments.each_with_index do |investment, i| %> 
					<div role="tabpanel" class="tab-pane fade in <%= 'active' if i == 0 %>" id="<%= dom_id(investment) %>">
						<div class="row special_row_total">
							<p class="total-investment">Investment Value: $<%= investment.amount.round(0) %>
								<a title="Returns"  data-container="body" data-toggle="popover" data-placement="bottom" data-content="This is a graph of returns from the last Columbia School series. Once you begin gettign copoun payments in 18 months, you will begin to see how your actual returns compare to what was expected."><span class="glyphicon glyphicon-question-sign"></span></a>
							</p>
						</div>
						<div class = "row special_row">
							<div class="col-md-12">
								<div class="checkbox reinvest">
									<label>
										<input type="checkbox"> Reinvest
									</label>
								</div>
							</div>
						</div>

						<%= render 'charts' %>

						<div class="col-md-4 series">
							<p class = "series_title">Your series:</p>
							<p class = "series_list"> 
							<%= current_investor.investments.map { |x| x.series.try(:series_number) }.compact.to_sentence %>


						</p>
						</div>
						<div class="col-md-4 ">

						</div>
						<div class="col-md-4 new_investment_col">
							<%= button_to "New Investment", new_investment_path, method: :get, :class => 'b4_investment_link' %>
						</div>
						
					</div>
					<% end %>
				</div>
			</div>

		</div>
		<div class = "col-md-3">
			<div class = "container copouns">
				<table class="table table-striped table-bordered" border = "3">
					<tr>
						<th>Notifications <a title="Notification Center"  data-container="body" data-toggle="popover" data-placement="bottom" data-content="This is your notification center. Here you will see reminders, letting you know if there are any documents you need to upload, as well as notices on when your next copoun date is."><span class="glyphicon glyphicon-question-sign"></span></a></th>
					</tr>
				</table>
			</div>

			<%= render "investor_relations_manager" %>
		</div>
	</div>
</div>
<script>$(function () 
	{ $("[data-toggle='popover']").popover();
});
</script>
</div>


<div class = "row">
	<div class = "col-md-1">
	</div>
	<div class = "col-md-10">
		<div class ="txts"> 
			6 Students Funded 
		</div>
		<div class="flexslider">
			<ul class="slides">
				<li>
					<img src="/assets/student_class.png" />
				</li>
				<li>
					<img src="/assets/student_class.png" />
				</li>
				<li>
					<img src="/assets/student_class.png" />
				</li>
				<li>
					<img src="/assets/student_class.png" />
				</li>
				<li>
					<img src="/assets/student_class.png" />
				</li>
				<li>
					<img src="/assets/student_class.png" />
				</li>
				<!-- items mirrored twice, total of 12 -->
			</ul>
		</div>
	</div>
	<div class = "col-md-1">
	</div>
</div>
</div>

<script type="text/javascript">
$(window).load(function(){
	$('#graph').popover('show')
});
$(window).load(function(){
	$('#notifications').popover('show')

});
</script>



</div>
<script>
$(document).ready(function() {
	$('#myTab a').click(function (e) {
		e.preventDefault();
		$(this).tab('show');
	});
});
</script>

<script>
$(window).load(function() {
	$('.flexslider').flexslider({
		animation: "slide",
		animationLoop: false,
		itemWidth: 210,
		itemMargin: 5,
		minItems: 2,
		maxItems: 4,
	});
});
</script>
