
<div id = "dashboard">
<div id="st-container" class="st-container">
		<!-- 	
			example menus 
			these menus will be on top of the push wrapper
		-->
		

		<nav class="st-menu st-effect-2" id="menu-2">
			<h2> Investor Avatar</h2>
			<ul>
				<li><a class="dashboard" href= "/" >Dashboard</a></li>
				<li> <%= link_to "New Investment", new_investment_path %></li>
				<li><a class="current_investment" href="#">Current Investments</a></li>
				<li><a class="pastinvestment" href="#">Past Investments</a></li>
				<li><a class="social_impact" href="#">Social Impact</a></li>
				<li><a class="netowrking" href="#">Networking</a></li>
				<li><a class="document" href="#">Documents</a></li>
				<li><a class="account" href="#">Account</a></li>
				<li><a class="faq" href="#">FAQ</a></li>
				<li><%= link_to "Logout", destroy_investor_session_path, method: :delete%></li>
			</ul>
		</nav>
		<!-- content push wrapper -->
		<div class="st-pusher">

			<!-- 	
				example menus 
				these menus will be under the push wrapper
			-->
			<div class="st-content"><!-- this is the wrapper for the content -->
				<div class="st-content-inner"><!-- extra div for emulating position:fixed of the menu -->
					<!-- Top Navigation -->
					<header>	
						<%= render "header" %>
					</header><!-- /main -->
				</div>
				<!-- /st-content-inner -->
				<%= render "before_returns" %>

				<footer>
					<%= render "footer" %>
				</footer> 
			</div><!-- /st-content -->
		</div><!-- /st-pusher -->
		<!-- /st-contain -->


		<script src="/assets/classie.js"></script>
		<script src="/assets/sidebarEffects.js"></script>
</div>
</div>

